# compiled
dist
node_modules
coverage
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*

# prisma
prisma/*.db

# os / ide
.DS_Store
.idea
.vscode

# test
tmp
.turbo

# k6
load/results.json
